@model IEnumerable<Day34_LibraryManagementSystem.Models.Author>
<table class="table table-hover bg-white">
  <thead><tr><th>Name</th><th style="width:120px"></th></tr></thead>
  <tbody>
  @foreach(var a in Model){
    <tr>
      <td>@a.Name</td>
      <td class="text-end">
        <button class="btn btn-sm btn-warning" data-ajax="true" data-url="@Url.Action("Edit", new { id=a.Id })" data-title="Edit Author">Edit</button>
        <button class="btn btn-sm btn-danger" data-delete-url="@Url.Action("Delete", new { id=a.Id })">Delete</button>
      </td>
    </tr>
  }
  </tbody>
</table>